<div class="app">
  <header>
    <h1>To Do List</h1>
  </header>
  <div class="container">
    <div class="input-box">
      <input type="text" name="" #task placeholder="Enter new Task!"/>
    <button id="task-button" (click)="addTask(task.value)">+</button>
    </div>
    <div class="todos" id="list-container">
      <ul id="to-list" *ngFor="let item of list">
        <li>{{item.name}}</li>
        <button id="remove-button" (click)="removeTask(item.id)">-</button>
      </ul>
    </div>
  </div>
  
 